:root {
  --text-color: #000;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color);
  scroll-behavior: smooth;
}

.actual-body {
  width: 60%;
  max-width: 1024px;
  margin: 0 auto;
}

@media (width <= 40em) {
  .actual-body {
    width: 85%;
  }
}

.header {
  width: 100%;
  margin: 0 auto;
  padding-top: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header .left, .right {
  display: flex;
  gap: 12px;
}

.link {
  color: var(--text-color);
}

.separator {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: justify;
  text-align-last: center;
  padding: 64px 0 32px 0;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 64px 0;
  box-sizing: border-box;
  text-align: center;
}

#introduction {
  gap: 8px;
  padding-top: 96px;
}

#introduction .image {
  width: 100%;
}

#introduction span {
  display: block;
}

iframe {
  border: none;
  overflow: hidden;
}

.project {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.project .title {
  padding: 32px 0 16px 0;
}

.project .meta {
  color: #808080;
  padding: 24px 0 0 0;
}

.project .description {
  text-align: justify;
  text-align-last: center;
}

.project .image-layout {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
  box-sizing: border-box;
  justify-content: center;
}

.project .image-layout img {
  display: flex;
  flex-basis: 75%;
  flex-grow: 0;
  flex-shrink: 1;
  height: auto;
  min-width: 0;
}

.footer {
  width: 100%;
  margin: 0 auto;
  padding: 32px 0 ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}